---
export interface Props {
	href?: string;
}

const { href } = Astro.props;
---

<a
	href={href}
	class="bg-cyan-600 hover:bg-cyan-800 text-white text-center px-4 py-2 md:py-3 md:px-4"
>
	<slot />
</a>
